<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="FileMasta.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
      
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1"/>
    </startup>
    <userSettings>
        <FileMasta.Properties.Settings>
            <setting name="clearDataOnClose" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="proxyAddress" serializeAs="String">
                <value/>
            </setting>
            <setting name="proxyPort" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="proxyUsername" serializeAs="String">
                <value/>
            </setting>
            <setting name="proxyPassword" serializeAs="String">
                <value/>
            </setting>
            <setting name="proxyUseCustom" serializeAs="String">
                <value>False</value>
            </setting>
        </FileMasta.Properties.Settings>
    </userSettings>
  <appSettings>
    <add key="url.project"
         value="https://github.com/mostlyash/filemasta/"/>
    <add key="fileUrl.changelog"
         value="https://raw.githubusercontent.com/mostlyash/filemasta/master/CHANGELOG.md"/>
    <add key="fileUrl.version"
         value="https://dl.dropbox.com/s/ioiu8vwxxc9r430/app-version.txt?raw=true"/>
    <add key="fileUrl.database"
         value="https://dl.dropbox.com/s/8a2rc2t3et119kk/od-database.csv?raw=true"/>
    <add key="fileName.database"
         value="od-database.csv"/>
    <add key="fileName.bookmarked"
         value="bookmarked.csv"/>
  </appSettings>
</configuration>