<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="WebCrunch.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="WebPlex.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1"/>
    </startup>
    <userSettings>
        <WebCrunch.Properties.Settings>
            <setting name="clearDataOnClose" serializeAs="String">
                <value>False</value>
            </setting>
        </WebCrunch.Properties.Settings>
        <WebPlex.Properties.Settings>
            <setting name="clearDataOnClose" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="userLanguage" serializeAs="String">
                <value>en</value>
            </setting>
        </WebPlex.Properties.Settings>
    </userSettings>
</configuration>
